@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 5%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 5%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 5%;
    --primary: 240 6% 12%;
    --primary-foreground: 0 0% 96%;
    --secondary: 240 5% 94%;
    --secondary-foreground: 240 6% 12%;
    --muted: 240 5% 94%;
    --muted-foreground: 240 4% 44%;
    --accent: 240 5% 94%;
    --accent-foreground: 240 6% 12%;
    --destructive: 0 85% 58%;
    --destructive-foreground: 0 0% 96%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 240 10% 5%;
    --chart-1: 15 75% 60%;
    --chart-2: 170 60% 38%;
    --chart-3: 200 35% 22%;
    --chart-4: 45 75% 65%;
    --chart-5: 30 85% 65%;
    --radius: 0.5rem;
    --color-1: 0 100% 60%;
    --color-2: 275 100% 60%;
    --color-3: 215 100% 60%;
    --color-4: 190 100% 60%;
    --color-5: 95 100% 60%;
  }
  .dark {
    --background: 240 10% 5%;
    --foreground: 0 0% 96%;
    --card: 240 10% 5%;
    --card-foreground: 0 0% 96%;
    --popover: 240 10% 5%;
    --popover-foreground: 0 0% 96%;
    --primary: 0 0% 96%;
    --primary-foreground: 240 6% 12%;
    --secondary: 240 4% 14%;
    --secondary-foreground: 0 0% 96%;
    --muted: 240 4% 14%;
    --muted-foreground: 240 5% 62%;
    --accent: 240 4% 14%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 60% 28%;
    --destructive-foreground: 0 0% 96%;
    --border: 240 4% 14%;
    --input: 240 4% 14%;
    --ring: 240 5% 82%;
    --chart-1: 225 68% 48%;
    --chart-2: 165 58% 43%;
    --chart-3: 35 78% 53%;
    --chart-4: 285 63% 58%;
    --chart-5: 345 73% 53%;
    --color-1: 0 100% 60%;
    --color-2: 275 100% 60%;
    --color-3: 215 100% 60%;
    --color-4: 190 100% 60%;
    --color-5: 95 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent #111827;
}